
<div id="exportable">
<table class="table table-striped table-hover" >
    <thead>
    <tr>
        <th class="tr-id">id
            <button class="btn btn-mini btn-link" ng-click="sort('id')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-system">Система
            <button class="btn btn-mini btn-link" ng-click="sort('system')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-category">Категория
        <button class="btn btn-mini btn-link" ng-click="sort('category')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-text">Текст открытия
            <button class="btn btn-mini btn-link" ng-click="sort('text_open')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-text">Текст закрытия
            <button class="btn btn-mini btn-link" ng-click="sort('text_close')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-date">Дата откр.
            <button class="btn btn-mini btn-link" ng-click="sort('date_open')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-date">Дата закр.
            <button class="btn btn-mini btn-link" ng-click="sort('date_close')"><i class="icon-sort"></i></button>
        </th>
        <th class="tr-comment">Комент.
            <button class="btn btn-mini btn-link" ng-click="sort('date_close')"><i class="icon-sort"></i></button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in pageRangeItems | orderBy:orderProp:direction | filter:{text_close:query, system: system.title, category: category.title}">
        <td>{{ item.id }}</td>
        <td>{{ item.system }}</td>
        <td>{{ item.category }} </td>
        <td>{{ item.text_open }}</td>
        <td>{{ item.text_close }}</td>
        <td>{{ item.date_open }}</td>
        <td>{{ item.date_close }}</td>
        <td>{{ item.comment }}</td>
    </tr>
    </tbody>
</table>

</div>