<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>id
            <button class="btn btn-mini btn-link" ng-click="sort('id')"><i class="icon-sort"></i></button>
        </th>
        <th>Название группы
            <button class="btn btn-mini btn-link" ng-click="sort('title')"><i class="icon-sort"></i></button>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in pageItems | orderBy:orderProp:direction">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td class="text-right block-button">
            <a href="" ng-click="editRecord(item.id)" class="btn btn-warning btn-xs"> Редактировать</a>
            <a href="" ng-click="deleteRecord(item.id)" class="btn btn-danger btn-xs"> Удалить</a>
        </td>
    </tr>
    </tbody>
</table>