<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>id
            <button class="btn btn-mini btn-link" ng-click="sort('id')"><i class="icon-sort"></i></button>
        </th>
        <th>Сервис
            <button class="btn btn-mini btn-link" ng-click="sort('service')"><i class="icon-sort"></i></button>
        </th>
        <th>Сервис код
            <button class="btn btn-mini btn-link" ng-click="sort('code_id')"><i class="icon-sort"></i></button>
        </th>
        <th>Описание
            <button class="btn btn-mini btn-link" ng-click="sort('description')"><i class="icon-sort"></i></button>
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate = "item in pageItems | itemsPerPage: 20">
        <td>{{ item.id}}</td>
        <td>{{ item.service}}</td>
        <td>{{ item.code_id}}</td>
        <td>{{ item.description}}</td>
        <td class="text-right block-button">
            <a href="" ng-click="editRecord(item.id)" class="btn btn-warning btn-xs"> Редактировать</a>
            <a href="" ng-click="deleteRecord(item.id)" class="btn btn-danger btn-xs"> Удалить</a>
        </td>

    </tr>
    </tbody>
</table>
<div class="text-center">
    <dir-pagination-controls template-url="../bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
</div>