<form name="myForm">
    <input type="hidden" ng-model="formData.id">

    <div class="form-group">
        <label>Subject</label>
        <input ng-model="formData.title" type="text" class="form-control" placeholder="название">
        <div class="text-center">
            <span ng-show="!formData.title" class="label label-danger info-alert">Поле обязательно к заполнению</span>
        </div>
    </div>

    <div class="form-group">
        <label>E-mail</label>
        <input ng-model="formData.mail" type="text" class="form-control" placeholder="Группа рассылки">
        <div class="text-center">
            <span ng-show="!formData.mail" class="label label-danger info-alert">Поле обязательно к заполнению</span>
        </div>
    </div>

    <div class="form-group">
        <label>Формат отоображения отв.инженера</label>
        <input ng-model="formData.bottom" type="text" class="form-control" placeholder="Формат отоображения отв.инженера">
        <div class="text-center">
            <span ng-show="!formData.bottom" class="label label-danger info-alert">Поле обязательно к заполнению</span>
        </div>
    </div>

    <div class="form-group" ng-init="selectCategory()">
        <label>Категория</label>
        <select class="form-control" ng-model="formData.category_id">
            <option  ng-repeat="category in selectCategoryItems | orderBy: 'title'" value="{{ category.id }}">{{ category.title}}</option>
        </select>
        <span ng-show="!formData.category_id" class="label label-danger info-alert" >Поле обязательно к заполнению</span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary half-width" ng-if="formData.addButton" ng-disabled="!formData.title || !formData.mail || !formData.bottom || !formData.category_id "
                ng-click="addRecord()">Добавить запись
        </button>
        <button type="submit" class="btn btn-warning half-width" ng-if="formData.updateButton" ng-disabled="!formData.title || !formData.mail || !formData.bottom || !formData.category_id "
                ng-click="updateRecord()">Обновить запись
        </button>
        <button type="submit" class="btn btn-primary half-width" ng-click="resetForm()">Reset</button>
    </div>
</form>